@using System.Runtime.InteropServices
@model dynamic
@{
    DSN.Models.IndividualViewModel individual = Model.user;
    List<DSN.Models.ExpenseViewModel> expenses = Model.Expenses;
}
<div class="jumbotron">
    <div align="center">
        <h2>@Html.DisplayFor(modelitem => individual.Name)</h2>
        <p>@Html.DisplayFor(modelitem => individual.Title) at @Html.DisplayFor(modelitem => individual.Organisation)</p>
    </div>
</div>
@foreach (var expense in expenses)
{
    <div class="col-md-6 col-md-offset-3 well well-lg">
        <div>
            <a><h3>@Html.DisplayFor(modelitem => expense.Description)</h3></a>
            <p>Balance Amount: @Html.DisplayFor(modelitem => expense.BalanceAmount)</p>
            <p>Actual Amount: @Html.DisplayFor(modelitem => expense.ActualAmout)</p>
        </div>
    </div>
}





